.day-bar {
  height: 6rem;
  background-color: var(--main-color);
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-text-color);
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: var(--lite-box-shadow);
  .date {
    font-size: 4rem;
    font-weight: 900;
    text-align: right;
    margin-right: 1rem;
  }
  .day {
    font-size: 4rem;
    opacity: 0.6;
    margin-left: auto;
  }
  .month {
    text-align: right;
    margin-right: 1rem;
    font-weight: 300;
    position: absolute;
    top: 4rem;
    left: 7rem;
  }
  .day-bar-top {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
}
